MYSQL_DATABASE: database_name
MYSQL_PASSWORD: root_user_password
MYSQL_PORT: 3306
# ==================== SUPABASE ====================
# Obtener estas credenciales desde tu proyecto en https://supabase.com
SUPABASE_URL=https://hxqfmzvqtzjwbwcbcvnw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4cWZtenZxdHpqd2J3Y2Jjdm53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExODI0NzUsImV4cCI6MjA4Njc1ODQ3NX0.hfPmoYoJVSbN8PgOZtkhNOgkqqKXyGje68Mng4w-xDk


# ==================== DJANGO ====================
DJANGO_SETTINGS_MODULE=core.settings
DJANGO_SUPERUSER_PASSWORD = yourpassword
